<div class="col-md-3 col-lg-3">
    <div class="bs-example" data-example-id="contextual-panels">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">标签</h3>
            </div>
            {% for tag in tag_list %}
                <div class="panel-body">
                    <a href="/{{ username }}/tag/{{ tag.id }}/">{{ tag.name }}({{ tag.c }})</a>
                </div>
            {% endfor %}
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">分类</h3>
            </div>
            {% for category in category_list %}
                <div class="panel-body">
                    <a href="/{{ username }}/category/{{ category.id }}/">{{ category.name }}({{ category.c }})</a>
                </div>
            {% endfor %}
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">日期</h3>
            </div>
            {% for archive in archive_list %}
                <div class="panel-body">
                    <a href="/{{ username }}/archive/{{ archive.c_time|date:'Y-m' }}/">{{ archive.c_time|date:'Y-m' }}({{ archive.c }})</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>